<section class="pt-5 pb-30">
    <div class="container">
        <div class="row sm-gap-12">
            <div class="col-md-4">
                <div class="banner-item">
                    <div class="banner-text">
                        <span>Khuyến mãi</span>
                        <h4>Giảm 30% Trọn bộ Combo</h4>
                        <a href="#" class="centered-link">Xem ngay <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="banner-img">
                        <a href="#"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2024/NgoaiVan_SmallBannerT5_310x210_4_1.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner-item">
                    <div class="banner-text">
                        <span>Khuyến mãi</span>
                        <h4>Giảm 30% Trọn bộ Combo</h4>
                        <a href="#" class="centered-link">Xem ngay <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="banner-img">
                        <a href="#"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2024/NgoaiVan_SmallBannerT5_310x210_4_1.jpg" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="banner-item">
                    <div class="banner-text">
                        <span>Khuyến mãi</span>
                        <h4>Giảm 30% Trọn bộ Combo</h4>
                        <a href="#" class="centered-link">Xem ngay <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="banner-img">
                        <a href="#"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2024/NgoaiVan_SmallBannerT5_310x210_4_1.jpg" alt=""></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>