<section class="section-padding-60">
    <div class="container">
        <h3 class="section-title style-1 mb-30 activex">Sản Phẩm Nổi Bật</h3>
        <div class="swiper mySwiper-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item-product">
                        <div>
                            <div class="product_img">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                            </div>
                            <div class="product_detail mt-3">
                                <h2><a href="#">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                                <div class="rating d-flex gap-2">
                                    <div class="d-flex align-items-center gap-1 start-icon">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <span>(5)</span>
                                </div>
                                <div class="price-label d-flex gap-12 mt-2 mb-2">
                                    <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                    <p class="special-price d-flex">
                                        <span class="price d-flex">88.200 đ</span>
                                        <span class="discount-percent">-10%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-product">
                        <div>
                            <div class="product_img">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                            </div>
                            <div class="product_detail mt-3">
                                <h2><a href="#">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                                <div class="rating d-flex gap-2">
                                    <div class="d-flex align-items-center gap-1 start-icon">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <span>(5)</span>
                                </div>
                                <div class="price-label d-flex gap-12 mt-2 mb-2">
                                    <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                    <p class="special-price d-flex">
                                        <span class="price d-flex">88.200 đ</span>
                                        <span class="discount-percent">-10%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-product">
                        <div>
                            <div class="product_img">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                            </div>
                            <div class="product_detail mt-3">
                                <h2><a href="#">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                                <div class="rating d-flex gap-2">
                                    <div class="d-flex align-items-center gap-1 start-icon">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <span>(5)</span>
                                </div>
                                <div class="price-label d-flex gap-12 mt-2 mb-2">
                                    <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                    <p class="special-price d-flex">
                                        <span class="price d-flex">88.200 đ</span>
                                        <span class="discount-percent">-10%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-product">
                        <div>
                            <div class="product_img">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                            </div>
                            <div class="product_detail mt-3">
                                <h2><a href="#">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                                <div class="rating d-flex gap-2">
                                    <div class="d-flex align-items-center gap-1 start-icon">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <span>(5)</span>
                                </div>
                                <div class="price-label d-flex gap-12 mt-2 mb-2">
                                    <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                    <p class="special-price d-flex">
                                        <span class="price d-flex">88.200 đ</span>
                                        <span class="discount-percent">-10%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-product">
                        <div>
                            <div class="product_img">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                            </div>
                            <div class="product_detail mt-3">
                                <h2><a href="#">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                                <div class="rating d-flex gap-2">
                                    <div class="d-flex align-items-center gap-1 start-icon">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <span>(5)</span>
                                </div>
                                <div class="price-label d-flex gap-12 mt-2 mb-2">
                                    <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                    <p class="special-price d-flex">
                                        <span class="price d-flex">88.200 đ</span>
                                        <span class="discount-percent">-10%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-product">
                        <div>
                            <div class="product_img">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                            </div>
                            <div class="product_detail mt-3">
                                <h2><a href="#">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                                <div class="rating d-flex gap-2">
                                    <div class="d-flex align-items-center gap-1 start-icon">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <span>(5)</span>
                                </div>
                                <div class="price-label d-flex gap-12 mt-2 mb-2">
                                    <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                    <p class="special-price d-flex">
                                        <span class="price d-flex">88.200 đ</span>
                                        <span class="discount-percent">-10%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  