

<section class="section-padding-60">
    <div class="container">
        <h3 class="section-title style-1 mb-30 activex">Tài Liệu Học</h3>
        <div class="post_list">
            <div class="row">
                <div class="col-lg-6 sm-mt-12">
                    <div class="d-md-flex d-block">
                        <div class="post_thumb mr-15">
                            <a href="#"><img src="https://hanoibookstore.com/storage/hoc-tieng-han-qua-02.jpeg" /></a>
                        </div>
                        <div class="post_content d-flex flex-column justify-content-around">
                            <div class="entry-meta mb-5 mt-10"><a class="entry-meta d-flex justify-content-between" href="#"><span class="post_in text-danger font-x-small text-uppercase">Tài liệu tiếng Hàn</span></a></div>
                            <h4 class="post_title text-limit-2-row"><a href="#">Lợi ích tuyệt vời từ việc học tiếng Hàn qua phim có phụ đề</a></h4>
                            <div class="post_active font-xs color-grey d-flex justify-content-between mt-10 pb-10">
                                <div class="d-flex gap-3">
                                    <span>
                                        <i class="fa-regular fa-clock"></i>
                                        Th10 09, 2022
                                    </span>
                                    <span>242 Lượt xem</span>
                                </div>
                                <a href="#">
                                    Xem thêm
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 sm-mt-12">
                    <div class="d-md-flex d-block">
                        <div class="post_thumb mr-15">
                            <a href="#"><img src="https://hanoibookstore.com/storage/hoc-tieng-han-qua-02.jpeg" /></a>
                        </div>
                        <div class="post_content d-flex flex-column justify-content-around">
                            <div class="entry-meta mb-5 mt-10"><a class="entry-meta d-flex justify-content-between" href="#"><span class="post_in text-danger font-x-small text-uppercase">Tài liệu tiếng Hàn</span></a></div>
                            <h4 class="post_title text-limit-2-row"><a href="#">Lợi ích tuyệt vời từ việc học tiếng Hàn qua phim có phụ đề</a></h4>
                            <div class="post_active font-xs color-grey d-flex justify-content-between mt-10 pb-10">
                                <div class="d-flex gap-3">
                                    <span>
                                        <i class="fa-regular fa-clock"></i>
                                        Th10 09, 2022
                                    </span>
                                    <span>242 Lượt xem</span>
                                </div>
                                <a href="#">
                                    Xem thêm
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>