<section class="pt-40 pb-30">
    <div class="container">
        <ul class="tab-list mb-30 d-flex gap-24">
            <li class="activex"><button>Bán chạy</button></li>
            <li><button>Khuyến mãi</button></li>
        </ul>
        <div>
            <div class="list-product d-flex gap-16 flex-wrap">
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-product">
                    <div>
                        <div class="product_img">
                            <img src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_195509_1_46272.jpg" />
                        </div>
                        <div class="product_detail mt-3">
                            <h2><a href="/san-pham/1">Từng Bước Nở Hoa Sen (Tái Bản 2024)</a></h2>
                            <div class="price-label d-flex gap-12">
                                <p class="old-price mb-1"><span class="price">98.000 đ</span></p>
                                <p class="special-price d-flex">
                                    <span class="price d-flex">88.200 đ</span>
                                    <span class="discount-percent">-10%</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-3 mb-2 justify-content-between mr-10">
                                <div class="d-flex align-items-center">
                                    <div class="product-rating d-flex align-items-center gap-1">
                                        <span>5.0</span>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="iconnewglobal-vote">(3)</div>
                                </div>
                                <div class="sort"><span>Đã bán: 98</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>