<div class="bg-grey-9">
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4>Khuyến mãi cực HOT</h4>
                                <h2 class="fw-bold">Combo Trọn Bộ IELTS</h2>
                                <p>Khuyến mãi 30% khi mua kèm 3 bộ sách IELTS</p>
                                <a class="btn btn-default btn-rounded" href="#">
                                    mua ngay
                                    <i class="ml-7 fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div>
                                <img src="https://hanoibookstore.com/storage/banner-bo-3-minmap-02-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4>Mã Giảm 500k</h4>
                                <h2 class="fw-bold">Danh Cho Thành Viên Mua Hàng Lần Đầu Tiên</h2>
                                <p>Giảm 500k đơn hàng đầu tiên dành cho thành viên mới</p>
                                <a class="btn btn-default btn-rounded" href="#">
                                    Chi Tiết
                                    <i class="ml-7 fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div>
                                <img src="https://hanoibookstore.com/storage/kaixin-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="slider-btn position-absolute swiper-button-prev">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="slider-btn position-absolute swiper-button-next">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="swiper-pagination mb-20"></div>
    </div>
</div>