<div class="col-lg-3 list_smnb">
    <div class="mb-4 sidebar-widget product-sidebar bg-grey border-radius-10 p-20 mb-25">
        <div class="widget-header mb-20 pb-10">
            <h4>Sản phẩm nội bật</h4>
        </div>
        <div class="d-flex flex-column gap-20">
            <div class="single-post">
                <div class="img">
                    <img src="https://hanoibookstore.com/storage/1-41-150x150.jpg" />
                </div>
                <div class="content pt-10">
                    <h5><a href="#"></a>Bộ sách luyện thi ETS 2023 LC&RC</h5>
                    <p class="price mb-0">
                        <span class="new-price">199,000₫</span>
                        <span><small class="old-price"><del>299,000₫</del></small></span>
                    </p>
                    <div class="rating_wrap">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-post">
                <div class="img">
                    <img src="https://hanoibookstore.com/storage/1-41-150x150.jpg" />
                </div>
                <div class="content pt-10">
                    <h5><a href="#"></a>Bộ sách luyện thi ETS 2023 LC&RC</h5>
                    <p class="price mb-0">
                        <span class="new-price">199,000₫</span>
                        <span><small class="old-price"><del>299,000₫</del></small></span>
                    </p>
                    <div class="rating_wrap">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
