<div class="page-header">
    <div class="container">
        <nav class="breadcrumb">
            <a href="#">Trang Chủ</a>
            <span> > </span>
            <span>Sản phẩm</span>
        </nav>
    </div>
</div>