@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/posts.css" rel="stylesheet" asp-append-version="true" />
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div class="page-header">
    <div class="container">
        <nav class="breadcrumb">
            <a href="#">Trang Chủ</a>
            <span> > </span>
            <span>Bài viết</span>
        </nav>  
    </div>
</div>

<section class="container">
    <div class="blogPage_blog-list mb-30">
        <div class="card_card blogCard_blogCard">
            <div class="blogCard_imageWrapper">
                <div class="blogCard_imageWrapper__image" style="width: 352px; height: 216px; position: relative; overflow: hidden;">
                    <img src="https://minio.fares.vn/mixivivu-dev/tour/blog/images/118qs890m3sf46jl.webp" />
                </div>
            </div>
            <div class="blogCard_body">
                <p class="blogCard_title">Quán mệ Kéo - Khám phá quán bún bò Huế 70 năm luôn đông nghẹt khách ở vùng đất Cố đô</p>
                <p class="blogCard_description">Quán mệ Kéo là một trong những gánh bún bò có tuổi đời lâu nhất, hơn nửa thập kỷ ở mảnh đất Cố đô Huế. Nơi đây là địa chỉ vô cùng quen thuộc đối với người dân địa phương cũng như tín đồ “xê dịch”. Thực khách khi đến đây luôn phải xếp hàng và tuân thủ nguyên tắc tự phục vụ của quán. Cùng theo chân Mixi Vivu khám phá quán mệ Kéo lừng danh này nhé!</p>
            </div>
            <p class="blogCard_footer">09/05/2024</p>
        </div>
        <div class="card_card blogCard_blogCard">
            <div class="blogCard_imageWrapper">
                <div class="blogCard_imageWrapper__image" style="width: 352px; height: 216px; position: relative; overflow: hidden;">
                    <img src="https://minio.fares.vn/mixivivu-dev/tour/blog/images/118qs890m3sf46jl.webp" />
                </div>
            </div>
            <div class="blogCard_body">
                <p class="blogCard_title">Quán mệ Kéo - Khám phá quán bún bò Huế 70 năm luôn đông nghẹt khách ở vùng đất Cố đô</p>
                <p class="blogCard_description">Quán mệ Kéo là một trong những gánh bún bò có tuổi đời lâu nhất, hơn nửa thập kỷ ở mảnh đất Cố đô Huế. Nơi đây là địa chỉ vô cùng quen thuộc đối với người dân địa phương cũng như tín đồ “xê dịch”. Thực khách khi đến đây luôn phải xếp hàng và tuân thủ nguyên tắc tự phục vụ của quán. Cùng theo chân Mixi Vivu khám phá quán mệ Kéo lừng danh này nhé!</p>
            </div>
            <p class="blogCard_footer">09/05/2024</p>
        </div>

    </div>
</section>